<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      <% for(let i = 0; i < newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox" checked="checked">
        <p><%= newListItems[i] %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>



    <!-- <ul>
        <!-- <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        <li><%= newListItems %></li> -->
    <!-- <% for(var i = 0; i <= newListItems.length; i++){ %>
          <li><%= newListItems[i] %></li>
        <% } %> -->

    <!--</ul> -->



    <!-- <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
        <h1 style="color: purple">It's a <%= kindOfDay %> ToDo List!</h1>
      <% }else { %>
        <h1 style="color: blue">It's a <%= kindOfDay %> ToDo List!</h1>
      <% } %> -->

  </body>

  <footer>2022 Veronika Vertlina</footer>
</html>
